
.bloop/
.bsp/
.idea/
.metals/
.vscode/

target/
project/metals.sbt
project/project/metals.sbt
project/project/project/metals.sbt

.terraform

petaform/.internal
petaform/config/**/secrets.conf
petaform/config/**/*-secrets.conf

example/jars/
example/petaform/.internal
example/petaform/config/**/secrets.conf
example/petaform/config/**/*-secrets.conf